@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #f9fdff 100%);
    overflow: hidden;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0px 50px;
}


#your__result {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
   border-radius: 20px;
   padding: 25px;
   text-align: center;
   width: 500px;

}



h2.result {
    font-size: 22px;
    color: #b3b2ff;
    margin-bottom: 20px;
}


.circle {
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
    margin-top: 20px;
}


.circle .number {
    color: #fff;
    font-size: 70px;
    font-weight: 900;
}

.circle .number__bottom {
    color: #b3b2ff;
}


.sub-sub__title {
    font-size: 26px;
    color: #fbfdff;
    margin-bottom: 35px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p__des {
    color: #b3b2ff;
}


#summary {
    background-color: #fff;
    border-radius: 20px;
    padding:25px;
    width: 500px;

}


.subtitle__summary {
    margin-bottom: 30px;
    font-size: 22px;
}


.box__summary {
    background-color: #b3b2ff83;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
}

.img__text {
    display: flex;
    gap: 5px;
    padding: 12px 0;
}

span {
    color: #c3bfc5;
}


.reaction {
    background-color: #fff6f5;
}

.paragrafo__reaction {
    color: #c9787a;
}

.memory {
    background-color: #fffbf2;
}

.p__memory {
    color: #fcd586
}

.verbal {
    background-color: #f2fbfa;
}

.p__verbal {
    color: #88dbd0
}


.visual {
    background-color: #f3f3fd;
    margin-bottom: 30px;
}

.p__visual {
    color: #576ac0;
}


.btn {
    text-align: center;
    margin: auto;
    display: block;
    outline: none;
    border: none;
    background-color: #303b59;
    color: #fff;
    border-radius: 25px;
    padding: 15px 25px;
    width: 420px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}



.btn:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }


  @media (max-width:768px) {
     #your__result {
        width: 300px;

    }

    #summary {
        width: 300px;
    }

    .box__summary {
        width: 230px;
        padding: 0, 15px;
    }

    .btn {
        width: 230px;
        text-align: center;
    }
  }



  @media (max-width:630px) {
    #container {
        flex-direction: column;
        height: 100vh;
        padding: 0;
    }

    #summary {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .box__summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: 80%;
    }

    #your__result {
        height: 50vh;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 75px;
        border-bottom-right-radius: 75px;
    }



    .result {
        margin-top: 20px;
    }


    .btn {
        margin: 0;
        margin-top: 10px;
        font-size: 26px;
        width: 80%;
        letter-spacing: 5px;
    }

    .subtitle__summary {
        font-size: 32px;
    }


    .description {
        font-size: 26px;
    }

    .number__bottom {
        font-size: 26px;
    }
    

    .circle {
        padding-top: 25px;  
    }


    #your__result h2 {
        font-size: 28px;
    }
  }